parameters:
    level: max
    paths:
        - src/
        - views/
    scanDirectories:
      - includes
      - lib/woocommerce/action-scheduler/
    bootstrapFiles:
        - %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
        - %rootDir%/../../../includes/core/bootstrap/autoload.php
    ignoreErrors:
        - '#^Parameter \#1 \$dates#'
        - '#^Method SimplePay\\Core\\RestApi\\Internal\\Report#'
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false

